#contact {
    background-color: #34495e;
    padding: 40px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}
